button.color {
    background-color: #004B23;
}

div {
    font-family: "Source Code Pro", serif;
}

.button {
}

.button-changeStep {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    background-color: #004B23;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    width: 355px;
    transition: all 0.5s;
}
.button-changeToPayment {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    background-color: #004B23;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    width: 375px;
    transition: all 0.5s;
}
.button-erase {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    background-color: #004B23;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 10px;
    width: 50%;
    transition: all 0.5s;
    margin-top: 150px;
}
.button-order {
    padding: 10px 0;
    margin: 0;
    background-color: #004B23;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    width: 100%;
    display:block;
    float:bottom;
    transition: all 0.5s;
}

.button-editar {
    background-color: #004B23;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    width: 100%;
    display:block;
    float:bottom;
    transition: all 0.5s;
    padding: 10px 0;
    margin: 0;
}

.button-changeStep:hover {background-color: #013D1D}
.button-erase:hover {background-color: #013D1D}
.button-order:hover {background-color: #013D1D}
.button-editar:hover {background-color: #013D1D}

.arrowBack {
    margin-top: 10px;
}

.img-shipping {
    margin-top: 40px;
}

.container-order {
    width: 600px;
}

.review-card-title {
    margin-top: 10px;
}

.review-body {
    font-family: "Source Code Pro", serif;
    margin-left: 10px;
}

.spaces {
    line-height : 37px;
}

.subtext-confirmation {
    margin-top: 50px;
    size: 20px;
}

.checkout_card {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
