.card {
    background: transparent;
    border: transparent;
}
.card-header {
    padding: 20px;
    background: transparent;
    border-color: transparent;
}
.steps {
    display: flex;
    column-count: 3;
    justify-content: center;
    align-items: center;
}
.step {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #004B23;
    line-height: 0.1em;
    margin: 10px 0 20px;
}
.step-span {
    padding: 10px 16px;
    border: 1px solid #004B23;
    border-radius: 20px;
    background:#fff;
    box-shadow: 0px 3px 0px 0px #004B23;
}

.step-active{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #C70039;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.step-active-span{
    background: #FFBBBA;
    padding: 10px 16px;
    border: 1px solid #C70039;
    border-radius: 20px;
    box-shadow: 0px 3px 0px 0px #C70039;

  }

.step-done{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #004B23;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.step-done-span{
    background: #C6E7D8;
    padding: 10px 16px;
    border: 1px solid #004B23;
    border-radius: 20px;
    box-shadow: 0px 3px 0px 0px #004B23;
}



