* {
    box-sizing: border-box;
}

/* Float four columns side by side */
.column-HomePage {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row-HomePage {margin: 0 -5px;}

/* Clear floats after the columns */
.row-HomePage:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column-HomePage {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.card-HomePage {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #f1f1f1;
    width: 15rem;
}

.card-HomePage:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
    width: 15rem;
}

.card-HomePage:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
}

.card-HomePage:active:after {
    box-shadow: 0 0 0 0 #C6E7D8;
    position: absolute;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
}

.card-HomePage:active {
    top: 1px;
}

.card-HomePage img {
    width: 100%;
    height: auto;
}

.card-HomePage .btn-delete {
    background-color: transparent;
    cursor:pointer;
    font-weight: bolder;
    font-size: 1.2em;
    position:absolute;
    top: 15px;
    left: 18px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-image: radial-gradient(black, rgba(0,0,0,0.4),transparent, transparent);
    color: yellow;
    box-shadow: black;
    border: none;
    border-radius: 5px;
}

.button-add-item {
    float: right;
    background-color: #004B23;
    color: white;
    padding: 10px;
    margin: 5px;
    width: 150px;
}

.button-add-item:hover {
    background-color: #013D1D;
}

.button-add-to-cart {
    float: end;
    alignment: center;
    background-color: #004B23;
    color: white;
    padding: 10px;
    margin: 5px;
    width: 100%;
}
.button-add-to-cart:hover {
    float: end;
    alignment: center;
    background-color: #013D1D;
    color: white;
    padding: 10px;
    margin: 5px;
    width: 100%;
}

.image_100 {
    width: 100%;
    margin: 0;
}


.button_update {
    border-radius: 4px;
    border: none;
    float: end;
    alignment: center;
    background-color: #003F4B;
    color: white;
    padding: 10px;
    margin: 5px;
    width: 100%;
}

.button_update:hover {
    background-color: #01353D;
    color: white;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 550px;
}

.navbar-item-right {
    display: inline;
    float: right;
    justify-content: center;
    align-items: center;
    padding-right: 35px;
    color: inherit;
    text-decoration: inherit;
    text-transform: uppercase;
    outline: none;
}

.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
    padding-bottom: 40px;
}

.input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    font-size: 15px;
    letter-spacing: 1px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #004B23;
    padding: 10px 40px 10px 10px;
    color:#000000;
}
.input-search::placeholder{
    color:rgba(0,0,0,.5);
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 50;
}
.btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 10px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff;
    background-color:#004B23;
    pointer-events: painted;
}
.btn-search:focus ~ .input-search{
    width: 300px;
    background-color: #C6E7D8;
    border-radius: 50px;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
    width: 300px;
    border-radius: 50px;
    background-color: #C6E7D8;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.position-right {
    margin-top: 15px;
    margin-left: 30px;
    float: right;
}

