* {
    box-sizing: border-box;
}

/* Float four columns side by side */
.column-HomePage {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row-HomePage {margin: 0 -5px;}

/* Clear floats after the columns */
.row-HomePage:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column-HomePage {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.card-HomePage {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #f1f1f1;
    width: 15rem;
}

.button-add-item {
    float: right;
    background-color: #004B23;
    color: white;
    padding: 10px;
    margin: 5px;
    width: 150px;
}

.button-add-item:hover {
    background-color: #013D1D;
}

.button-add-to-cart {
    float: end;
    alignment: center;
    background-color: #004B23;
    color: white;
    padding: 10px;
    margin: 5px;
    width: 100%;
}
.button-add-to-cart:hover {
    float: end;
    alignment: center;
    background-color: #013D1D;
    color: white;
    padding: 10px;
    margin: 5px;
    width: 100%;
}

.image_100 {
    width: 100%;
    margin: 0;
}


.button_update {
    border-radius: 4px;
    border: none;
    float: end;
    alignment: center;
    background-color: #003F4B;
    color: white;
    padding: 10px;
    margin: 5px;
    width: 100%;
}

.button_update:hover {
    background-color: #01353D;
    color: white;
}
