.vl-login {
    border-left: 3px solid #004B23;
    height: 400px;
    position: relative;
    margin-left: 30px;
    margin-right: 80px;
    top: 0;
}

form {
    margin-top: 10px;
}

.input-field {
    position: relative;
    width: 350px;
    height: 44px;
    line-height: 14px;
}

label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #004B23;
    transition: 0.2s all;
    cursor: text;
}
input {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0.5rem 0;
    border-bottom: 2px solid #C6E7D8;
    box-shadow: none;
    color: #111;
}
input:invalid {
    outline: 0;
}
input:focus,
input:valid {
    border-color: #004B23;
}
input:focus~label,
input:valid~label {
    font-size: 14px;
    top: -24px;
    color: #004B23;
}

.button_login {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    background-color: #004B23;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    width: 355px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 25px;
}

.button_signup {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    background-color: #004B23;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    width: 385px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 35px;
}
.a_color {
    color: whitesmoke;
    text-decoration: none;
}
.a_color:visited {
    color: whitesmoke;
    text-decoration: none;
}
.a_color:hover {
    color: white;
    text-decoration: underline;
}
