.button_add_cart {
    border-radius: 4px;
    background-color: #000000;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 13px;
    width: inherit;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}


.button_add_cart span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button_add_cart span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button_add_cart:hover span {
    padding-right: 25px;
}

.button_add_cart:hover span:after {
    opacity: 1;
    right: 0;
}

.button-category {
    float: left;
    pointer-events: none;
    background-color: #004B23;
    color: white;
    padding: 10px;
    margin: 5px;
    width: 150px;
}
