.button_edit_profile {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    background-color: #004B23;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    width: 700px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 25px;
}


.input-field-profile {
    position: relative;
    width: 700px;
    height: 44px;
    line-height: 14px;
}
