<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>

    <body>
        <h2>Dear {{ user }},</h2>
        <h4>
            We are glad to inform you that your order for the product {{ product_title }}
            has been successful.
        <br>
            The seller has already been informed of this transaction, which you can find in
            you Profile > Orders.
        </h4>
        <h4>
            Sincerely,
            <br>
            Booksy Team
        </h4>
    </body>
</html>